
## Mining Association of Canada (MAC) Verifier Governance Framework

# 1. Primary Document

## 1.1. Introduction 

This document articulates the governance framework for the Mining Association of Canada (MAC) as a verifier of a digital credential [(layer four application of the Trust Over IP Foundation (ToIP) model)](https://www.trustoverip.org/wp-content/toip-model/).

The development of this documentation follows the governance framework created by the [Trust over IP Foundation (ToIP)](https://trustoverip.org/) [Governance Metamodel Specification](https://trustoverip.org/wp-content/uploads/ToIP-Governance-Metamodel-Specification-V1.0-2022-12-21.pdf) created by the [Governance Stack Working Group (GSWG)](https://wiki.trustoverip.org/display/HOME/Governance+Stack+Working+Group).

These materials are made available under and are subject to the [Creative Commons Attribution 4.0 International license](http://creativecommons.org/licenses/by/4.0/legalcode).

THESE MATERIALS ARE PROVIDED “AS IS.” The Trust Over IP Foundation, established as the Joint Development Foundation Projects, LLC, Trust Over IP Foundation Series ("ToIP"), and its members and contributors (each of ToIP, its members and contributors, a "ToIP Party") expressly disclaim any warranties (express, implied, or otherwise), including implied warranties of merchantability, non-infringement, fitness for a particular purpose, or title, related to the materials. The entire risk as to implementing or otherwise using the materials is assumed by the implementer and user. 

IN NO EVENT WILL ANY ToIP PARTY BE LIABLE TO ANY OTHER PARTY FOR LOST PROFITS OR ANY FORM OF INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY CHARACTER FROM ANY CAUSES OF ACTION OF ANY KIND WITH RESPECT TO THESE MATERIALS, ANY DELIVERABLE OR THE ToIP GOVERNING AGREEMENT, WHETHER BASED ON BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, AND WHETHER OR NOT THE OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

***Acknowledgements***

This governance framework includes structural elements from the Trust over IP Metamodel that were developed by Governance Stack Working Group of the Trust over IP Foundation, the eSSIF Lab Glossary and Mental Models, were contributed to the Trust Over IP Foundation under the CC BY-SA 4.0 license.  There have also been contributions from the Concepts & Terminology Working Group at ToIP, the Human Experience Working Group at ToIP and the Ecosystem Foundry Working Group at ToIP, the work of the Governance Framework Working Group at Sovrin Foundation is also acknowledged in providing support.

## 1.2. Terminology and Notation 

[Glossary - General Trust Over IP Terms](https://trustoverip.github.io/toip/glossary)

**Requirements** include any combination of Machine-Testable Requirements and Human-Auditable Requirements. Unless otherwise stated, all Requirements MUST be expressed as defined in [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119).

- Mandates are Requirements that use a MUST, MUST NOT, SHALL, SHALL NOT or REQUIRED keyword.
- Recommendations are Requirements that use a SHOULD, SHOULD NOT, or RECOMMENDED keyword.
- Options are Requirements that use a MAY or OPTIONAL keyword.

**Machine-Testable Requirements** are those with which compliance can be verified using an automated test suite and appropriate scripting or testing software.

**Rules** are Machine-Testable Requirements that are written in a Machine-Readable language and can be processed by a Rules Engine. They are expressed in a structured rules language as specified by the Governance Framework.

**Human-Auditable Requirements** are those with which compliance can only be verified by an audit of people, processes, and procedures.

**Policies** are Human-Auditable Requirements written using standard conformance terminology. The Policies used in the Governance Framework will use the standard terminology detailed in RFC 2119 keywords. Note that all RFC 2119 keywords have weight from an auditing perspective. An implementer MUST explain why a SHOULD or RECOMMENDED requirement was not implemented and SHOULD explain why a MAY requirement was implemented.

**Specifications** are documents containing any combination of Machine-Testable Requirements and Human-Auditable Requirements needed to produce technical interoperability.

## 1.3. Localization
The standard language for this Governance Framework (GF) is American English.

## 1.4. Governing Authority 

1)	Mining Association of Canada (MAC) is the Governing Authority responsible for this Governance Framework (GF).
3)	Company Registration Information - [Mining Association of Canada (MAC)](https://www.orgbook.gov.bc.ca/entity/FM0055862)
4)	The contact information for [Mining Association of Canada (MAC)](https://mining.ca/) during the pilot phase of development is:
* 	**Name:** Ben Chalmers
* 	**Title:** Senior Vice President
* 	**Organization:** The Mining Association of Canada
* 	**Email:** [bchalmers@mining.ca](mailto:bchalmers@mining.ca)

## 1.5. Administering Authority

[Energy, Mines and Digital Trust (EMDT)](https://digital.gov.bc.ca/case-studies/emdt) is the Administering Authority on behalf of Mining Association of Canada (MAC) during the pilot phase of development.

## 1.6. Purpose

The purpose of this governance framework is to describe the rules/policies/procedures for verifiable credential exchanges involving Mining Association of Canada (MAC) with the open global community. The purpose of the rules is to enable all actors to understand agreed upon standards, terminology and processes that allow the community to interact with MAC in a trusted manner. This will help determine a governing framework and operating model for a global ecosystem that identifies how credentials can be issued, held, and verified. 

## 1.7. Scope 

Mining Association of Canada (MAC) is a participant in an open ecosystem and the focus of this framework is to describe the process MAC uses for digital exchanges on Indy networks.

## 1.8. Objectives

_This section states the high-level outcomes desired by the trust community through its adoption of the GF._

1. SHOULD specify tangible, achievable results (e.g. SMART criteria and Fit-for-Purpose criteria).
2. MUST only contain outcomes over which the GF has the authority and mechanisms to achieve within its
scope.
3. MUST be consistent with the principles of the GF (below).


## 1.9. Principles 

The Towards Sustainable Mining (TSM) program created by the MAC has a set of [Guiding Principles](https://mining.ca/download/36658/), which all participating members must commit to. These [Guiding Principles](https://mining.ca/download/36658/), address the expectation of its members towards adopting social, economic and environmental practices that align with the priorities and values of their communities of interest. 

## 1.10. General Requirements
TBD

## 1.11. Revisions

_TBD - How and when Mining Association of Canada (MAC) would change governance framework_

## 1.12. Extensions

There are no extensions to this Governance Framework.

## 1.13. Schedule of Controlled Documents

TBD

# 2. Controlled Documents

## 2.1. Glossary
N/A

## 2.2. Risk Assessment

TBD

## 2.3. Trust Assurance and Certification

TBD

## 2.4. Governance Requirements

TBD

## 2.5. Business Requirements
Participation in the TSM initiative is mandatory for all MAC members for their Canadian operations, members MUST adhere to the [TSM reporting requirements](https://mining.ca/towards-sustainable-mining/protocols-frameworks/tsm-protocol-reporting-schedule/):

* Self-assessed TSM performance indicators MUST be reported to MAC annually. Amendments to this requirement are offered to high TSM performers and described in the [TSM Primer]( https://mining.ca/wp-content/uploads/dlm_uploads/2021/04/TSM-Primer-English.pdf) under the section labelled _Optional Reporting and Verification Process_

* Every three years, a Verification Service Provider (VSP) critically reviews a company’s self-assessments to determine if there is adequate evidence to support the performance ratings reported. A list of VSPs is provided [here](https://mining.ca/wp-content/uploads/dlm_uploads/2022/08/2022-August-TSM-Verifier-List.pdf).

* In the year of external verification, a company’s CEO, or equivalent, MUST to submit a letter to MAC that confirms the external verification has been conducted in accordance with the Terms of Reference for VSPs.

* All articles concerning ESG data MUST not sold to third parties. All governing parties SHALL implement responsible use policies that apply to ESG recording.

* Mines MUST identify themselves using high assurance verifiable credentials when submitting information related to ESG


1. Mining Association of Canada (MAC) MUST send an invitation to the other business entity via email to initiate the exchange of information. 
2. The receiving party MUST accept invitation in order to establish a secure connection.

** Verification of TSM Credential **

1. Using the established connection, Mining Association of Canada (MAC) MUST receive a verification request from the business entity. 
2. Continuing from step 1, the business entity will provide the following attributes in the verification request:
-company_name
-facility_name
-facility_address
-country_operation
-products_name
-operation_type
-infrastructure_type
3. Mining Association of Canada (MAC) will receive and review the request
4. Any clarification questions can be asked via the secure messaging function 
5. Once all data is entered and correct, Mining Association of Canada (MAC) will offer the credential to the business entity
6. Business entity can choose to accept or negotiate the credential to request changes

**Identity (Authentication)**
-	VC Storage Location will take place on a digital Business Wallet with a secure connection. 
-	Verifiable Credential Proof will be requested by ____________ and the proof will be provided by _____________. 
-	The Verifiable credential will be issued from the _Company_ Digital Wallet

**Delegation**
-	Refers to a Verifiable Credential for permission to delegate a specific role. 
-	The VC Storage Location will be held on the digital wallet, with the VC proof being requested by the Company’s Digital wallet. 
-	VC Proof is provided by the personal digital wallet and the VC will be issued by the Company Digital wallet. 

**Authorization**
-	Allows a verifiable credential to a person giving them a role (such as the issuer of a permit credential). 
-	VC will be stored on the Personal Digital Wallet, with VC Proof Requested by Line of Business Systems. 
-	VC Proof will be provided by the digital wallet with the VC issued from a company digital wallet. 

MUST specify that all [RFC 2119 keywords used with their RFC 2119 meanings are CAPITALIZED](https://www.rfc-editor.org/rfc/rfc2119).

## 2.6. Technical Requirements

*MUST have an Aries compatible business wallet.*

*These are the requirements governing technical interoperability. Controlled documents in this category:*
*1. MUST specify how trust community members will interoperate technically using the ToIP technology
stack by reference to any relevant ToIP specifications and recommendations.*
*2. SHOULD include any additional specifications and/or specification profiles that are specific to the
technical interoperability within this trust community.*
*3. SHOULD include references one or more glossaries (see Glossary section) as needed.*
*4. SHOULD reference any test suites or other testing requirements.*

## 2.7. Information Trust Requirements
** Information privacy **

•	Privacy and Minimal Disclosure: Ben to describe verbage around the work they do and how they manage privacy
•	Mention company privacy policy - or copy and paste right here.

## 2.8. Inclusion, Equitability and Accessibility Requirement
TBD

## 2.9. Legal Agreements
TBD

# End of Document












 
