# Consumption of Verification Statement Governance Document
# Introduction

_____________________will be involved in the development of Verifiable Credentials that will be administered through the Trust Over IP (ToIP) system. Requirements for Emissions Verification statements are outlined in Section 33 of the Greenhouse Gas Emission Reporting Regulation under the Greenhouse Gas Industrial Reporting and Control Act outlining the required "Content of Verifications Statements". Current reporting is made through ______________ submitting a PDF Report outlining an operation's GHG Emissions through the SWIM (Single Window Information Manager). With the creation of an option for submitting a VC, any additional data such as supplementary data that is not included in the developed schema would be manually typed into the SWIM form. 

This governance document outlines a presentation request for minimal data that would satisfy the Reporting Requirements under the above regulation. Verified Credentials would not replace the SWIM system. Instead it would exist as an additional option  to submit a proof request for reporting and submitting Verification Statements instead of uploading a PDF. In using this verifiable credential, it is not required to submit word documents through the SWIM system, however submissions would need to include viable proof requests including all of the reporting requirements. 

In the current system, a Large C02 Emitter (Company) completes operations and yearly reporting based on regulatory requirements. An alternative 3rd party then agrees to complete verification of reported emissions. In the event that errors in reports require resubmission,________ reviews re-submitted data and compares results of report with expected results. 

GHG emissions accounting utilize the GHG Protocol as the primary standard. Greenhouse Gas Protocol provides the world's most widely used greenhouse gas accounting standards for companies. _____________ will work in partnership with the Trust Over IP Foundation (TOIP) Ecosystem to issue this governance framework.

This governance document has been developed in accordance with the ToIP’s Governance Metamodel Specification created by the Governance Stack Working Group (GSWG) as the template for this framework.

Terminology and Notation
[Glossary - General Trust Over IP Terms](https://trustoverip.github.io/toip/glossary)

# Localization

1. The standard language for this governing framework is American English.
1. The governance framework website SHALL include introductory remakes in all the languages of the g20 countries.
 
# Governing Authority

_________BC is the governing authority and party legally responsible for developing, maintaining and implementing the Governance Framework.
The contact for petitioners and relying parties of this GF is

* Name ___________
* Title ____________
* Organization ___________
* Email ____________

# Purpose

The purpose of this governance document is to outline the specific presentation request that would be developed for GHG Reporting. This would be based of off emissions information that ______________ could could attest or assure. This information would include attested data such as Reporting Operation Emissions, Total Emissions, Total Co2 from Biomass etc. Scope 1 Greenhouse Gas Emissions from various sources have been unreliably accounted for using various sources. 

Information on GHG Emissions Reporting can now be developed into Verifiable Credential standards, systems and governance to allow a more trustworthy ecosystem. This will be built under this governance framework. The purpose of this governance framework to outline all rules associated with governance, issuance, verification, and revocation of these GHG Reporting credentials. The governance document is applicable to all parties who consume the GHG Reporting Credentials. 

# Scope

The GF covers the following components:

# Key Roles

Issuers: An entity that can accurately report on GHG emissions

Verifiers: An entity that can accurately attest to reported GHG emissions

Legal Entity: A legal person or structure that is organized under the laws of any jurisdiction that meets the eligibility criteria for registering for a VC.

The scope of the Ecosystem Governance Framework is to enable stakeholder to issue, hold and verify Credentials using the ToIP framework to ensure that these activities take place in compliance with Ecosystem Governance Frameworks.

# Key Processes

The following processes will participate in this GF as Governed Roles

* Credential Issuance: Will be made by ___________ upon receiving data from _________
* Verification: The process by which __________ will verify the originator of GHG credentials
* GHG Receipt: Process whereby GHG emissions credentials of subject mines will be collected by the repository

# Key Trust Decisions

The trust decisions made under this GF is the qualification and determination of GHG Emissions Credentials and the determination of Credential Issuance to ___________________ 
Out of Scope

* Any other credential other than GHG Emissions Reporting
* Mines operating in other provinces
* Evaluation of other ESG priorities

# Objectives

The objective of this Governance Framework are to define the rules, requirements, processes and artifacts that enable Verifiable Credentials to be applied to Reporting Requirements systems process so that _____________ can ensure compliance with ESG frameworks on a provincial level.
 
# Principles

The Principles Underlying this GF follow agreed-upon principles for the ________________

1. Sustainability
1. Stewardship
1. Public good
1. Transparency
1. Citizen Engagement
1. Digital Sovereignty
1. Security
1. Confidence
1. Synchronization

# General Requirements

The General Requirements section is reserved for policies that apply generally to the Governance Framework as a whole and not just in the context of a particular controlled document.

* All articles concerning GHG emissions must remain private and not sold to third parties. All governing parties shall implement responsible use policies that apply to GHG emission recording.
* Entities must identify themselves using high assurance verifiable credentials when submitting information related to GHG Emissions
* All revised and outdated GHG Credentials must be expunged each year from the credential repository by January 1st
* All governed parties shall abide by a Code of Conduct

# Revisions

A key design principle of the ToIP stack model is to “design for change”. In most cases, GFs are “living documents” that need to evolve as their trust community evolves. There, the ToIP governance Architecture Specification has strict requirements for document versioning.

# Schedule of Controlled Documents

The following documents are included as appendices:

1. Glossary
1. Risk Assessment
1. Trust Assurance and Certification
1. Governance Requirements
1. Business Requirements
1. Information Trust Requirements
1. Inclusion, Equity and Accessibility Requirements
1. Legal Agreements

# Controlled Documents

# Glossary

In the field of Digital Identity, trust and governance, a well-defined glossary is essential. Glossaries ensure that all stakeholders – businesses, legal, technical and operational – share a collective understanding of the terms used within a GF.

A GF includes a glossary that includes terms in the following three general categories

1. TOIP Core Terms that describe the common components of the TOIP model
1. TOIP Governance Terms are specialized terms used to describe TOIP governance concepts
1. GF Specific Terms are terms needed in the context of this GF. This is included in the __________ Scope 1 GHC Emissions Credential Terms Page.

# Risk Assessment

_________________ and ______________ will develop strategies to mitigate risk. There are risks associated with establishing and maintaining a healthy trust community: technical risks, business risks, governance risks, regulatory risks, etc.

# Trust Assurance and Certification

While a detailed risk assessment is warranted for this GF, for the first draft of the GF, _____________ has identified the following audit criteria to be assessed by an auditor

* Availability Controls for ____________
* Policies and controls for _______________
* Review of background checks for_______________ 

# Governance Requirements

Trust in a GF requires a Governing Authority. This trust is rooted in the foundational governance documents for the governing authority itself. This includes

1. GHG Emissions Credentials based on sound data
1. BC Policies and Regulations

# Business Requirements

Many business requirements will flow directly from the objectives. Policies in this section will outline business rules common to any business or industry organization. Business rules will apply in the specific context of the GF in order to govern specific actions taken by specific actors performing specific roles and processes within the ____________ and _________ Trust Community.

The Business rules for Scope 1 GHC Emissions Credential Issuance are:

1. ________________________________________
1. ________________________________________
1. ________________________________________

# Technical Requirements

The structure of the ToIP stack graphically illustrates that governance is only half of what is required for inter-operability within and between trust communities. The other half is technical interoperability. This is the responsibility of the ToIP technology. The Technical policies for _____________ GF are the following:

1. The DID for _________ must be ________-
1. The DID for __________ must be __________
1. The Verifiable Credential format for _______ and ___________ must be
1. All Verifiable Presentations of _________- and _____________ must use privacy preserving standards
1. The User interface for obtaining, processing and presenting __________ and _________ credentials
1. Must be translate into all human languages
1. Must go through proof testing
1. Should ______________
1. Must ________________

# Information Trust Requirements

The members of the trust community need to mitigate against a common set of threats that could impact members. ___________ will adopt the following information trust policies, across the five Trust Services Criteria:

1. Information security shall____________
1. Information availability shall ______________
1. Information process integrity shall _____________
1. Information confidentiality shall __________________
1. Information privacy shall _________________

# Inclusion, Equity and Accessibility Requirements

This final category of requirements is especially important for digital trust communities – important enough that this category of controlled document is REQUIRED in a ToIP – compliant GF. Scope 1 GHG Emissions Credentials GF policies in this category are

1. ________________________________________
1. ________________________________________
1. ________________________________________

# Legal Agreements

Legal agreements will be drafted in accordance with _______________ policies and procedures. These agreements will outline contractual commitments between the governing authority and the governed parties playing various roles. ________________ requires the following legal agreements

1. ________________________________________
1. ________________________________________
1. ________________________________________
