---
layout: default
title: BC Climate Action Secretariat Ecosystem Governance Framework
parent: Applications
---

## Title: application-bc-ghg-emissions-verification.md

# BC Climate Action Secretariat Ecosystem Governance Framework

# Primary Document

## Introduction 

The Climate Action Secretariat (CAS), within the BC Ministry of Environment, drives change to achieve British Columbia's greenhouse gas emission reduction targets. The Climate Action Secretariat Verifiable Credentials Ecosystem Governance Framework is a Layer Four Ecosystem Governance Framework of the Trust Over IP Foundation (ToIP). The CAS GHG Emissions Identifier is used as a key component in building a trust layer for identification and verification of GHG emissions that require accounting. The CAS Carbon Intensity Identifier establishes a separate key component in building a trust layer for identification and verification of Carbon Intensity accounting. The Ecosystem will assist in the development of the CAS __________________ Credential Pilot Project. 

## Terms of Use 

These materials are made available under and are subject to the Creative Commons Attribution 4.0 International license (http://creativecommons.org/licenses/by/4.0/legalcode).

THESE MATERIALS ARE PROVIDED “AS IS.” The Trust Over IP Foundation, established as the Joint Development Foundation Projects, LLC, Trust Over IP Foundation Series ("ToIP"), and its members and contributors (each of ToIP, its members and contributors, a "ToIP Party") expressly disclaim any warranties (express, implied, or otherwise), including implied warranties of merchantability, non-infringement, fitness for a particular purpose, or title, related to the materials. The entire risk as to implementing or otherwise using the materials is assumed by the implementer and user. 

IN NO EVENT WILL ANY ToIP PARTY BE LIABLE TO ANY OTHER PARTY FOR LOST PROFITS OR ANY FORM OF INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY CHARACTER FROM ANY CAUSES OF ACTION OF ANY KIND WITH RESPECT TO THESE MATERIALS, ANY DELIVERABLE OR THE ToIP GOVERNING AGREEMENT, WHETHER BASED ON BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, AND WHETHER OR NOT THE OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

## Acknowledgements

The Climate Action Secretariat (CAS) ecosystem contains structural elements from the Trust over IP Metamodel that were developed by Governance Stack Working Group of the Trust over IP Foundation, the eSSIF Lab Glossary and Mental Models, were contributed to the Trust Over IP Foundation under the CC BY-SA 4.0 license.  There have also been contributions from the Concepts & Terminology Working Group at ToIP, the Human Experience Working Group at ToIP and the Ecosystem Foundry Working Group at ToIP, the work of the Governance Framework Working Group at Sovrin Foundation is also acknowledged in providing support.

## Terminology and Notation 

ToIP Governance Requirements Glossary

**Requirements** include any combination of Machine-Testable Requirements and Human-Auditable Requirements. Unless otherwise stated, all Requirements MUST be expressed as defined in RFC 2119.

• Mandates are Requirements that use a MUST, MUST NOT, SHALL, SHALL NOT or REQUIRED keyword.

• Recommendations are Requirements that use a SHOULD, SHOULD NOT, or RECOMMENDED keyword.

• Options are Requirements that use a MAY or OPTIONAL keyword.

**Machine-Testable Requirements** are those with which compliance can be verified using an automated test suite and appropriate scripting or testing software.

**Rules** are Machine-Testable Requirements that are written in a Machine-Readable language and can be processed by a Rules Engine. They are expressed in a structured rules language as specified by the Governance Framework.

**Human-Auditable Requirements** are those with which compliance can only be verified by an audit of people, processes, and procedures.

**Policies** are Human-Auditable Requirements written using standard conformance terminology. The Policies used in the Governance Framework will use the standard terminology detailed in RFC 2119 keywords. Note that all RFC 2119 keywords have weight from an auditing perspective. An implementer MUST explain why a SHOULD or RECOMMENDED requirement was not implemented and SHOULD explain why a MAY requirement was implemented.

**Specifications** are documents containing any combination of Machine-Testable Requirements and Human-Auditable Requirements needed to produce technical interoperability.

## Purpose

The purpose of CAS Ecosystem Rules is to describe the rules/policies/procedures for verifiable credential exchanges involving __________________ with the _____________. The purpose of the rules is to enable all actors to understand agreed upon standards, terminology and processes that allow the CAS system to operate. This will help determine a governing framework and operating model for a global ecosystem that identifies how credentials can be issued, held, and verified by our natural resources business, so that any downstream purchaser, certifier, or financer can be assured of the attested good practices of the BC Industry to prove sustainable resourcing. 

## Localization 

1)	The official language of the CAS Ecosystem Governance Framework SHALL be American English.
2)	The Governance Framework Website SHALL include introductory remakes in the languages of the G20 countries.
3)	For situations in which CAS Governance Framework MAY be needed in another language, CAS will consider this on a case-by-case basis. 


## Governing Authority 

1)	The BC Government Climate Action Secretariat (CAS) as Governing Authority is responsible for the CAS Ecosystem Governance Framework.
2)	Information can be accessed here Climate Action Secretariat Of BC 
3)	LEI (Legal Identity Identifier) ______________
4)	The jurisdiction for this governance framework is the Province of BC
5)	The contact information for CAS is
__________________________
__________________________
Recommendations for the governing parties in the governance model are contained in the Governance Requirements. This is a controlled document. 

## Purpose 

The purpose of the CAS Ecosystem Governance Framework is to describe the rules/policies/procedures for Scope 1 and 2 GHG Emissions verifiable credential exchanges with CAS. CAS will be using a subset of content from the Scope 1 and 2 GHG Emissions credential called Emissions Presentation Definition v1.0. CAS will also describe the rules/policies/procedures for Carbon Intensity Verifiable Credential exchanges with CAS.

## Scope 

The following entities are stakeholders in the Trust Community 

**CAS - TOIP Rules** apply to all parties who become members of the CAS Ecosystem. 

**CAS**- CAS (Climate Action Secretariat) is the Governing Authority, The Climate Action Secretariat drives change to achieve British Columbia's greenhouse gas emission reduction targets.

**Credential issuer** – An organization accredited by CAS to validate __________information and register new __________ and reference data which are sent to ______________ for inclusion in the __________

**Legal Entity** – A legal person or structure that is organized under the laws of any jurisdiction that meet the eligibility criteria for registering for a _______________ credential

**CAS Credential User** – Any user of a CAS GHG credential in any applicable use case.
 
**Out of scope** for the CAS Ecosystem Governance Framework are GHG measurements managed by other entities and documents. Although CAS encourages other governance frameworks to make use of the CAS Ecosystem Governance Framework for___________ Credentials, these governance frameworks also are out of scope. 

## Objectives

The objectives of the CAS Ecosystem Governance Framework for a____________ credential is the following: 
Account for _______________Credentials 
-	CAS wants to account for __________________ and __________________
-	Expand the capacity for _________________ accounting through cryptographically verifiable credentials
-	Attract investors through ________________standard reporting
Incentivize Compliance
-	The CAS governing framework seeks to incentivize compliance with GHG accounting rules amongst participants.
-	The CAS governing framework seeks to incentivize compliance with Carbon Intensity accounting rules amongst participants.
-	Enable a chain of trust through legal entities, credential issuers and governance authorities.
-	Support further levels of delegated identifiers and associated Verifiable Credentials to provide scalability.
Enable new Use Cases
-	The establishment of a CAS Governance Framework will incentivize wider adoption of decentralized trust technology for verifiable credentials

## Principles 

1)	Sustainability
2)	Stewardship 
3)	Public good
4)	Transparency
5)	Citizen Engagement
6)	Digital Sovereignty
7)	Security
8)	Confidence
9)	Synchronization

## Privacy 

•	Privacy and Minimal Disclosure: CAS Ecosystem SHALL protect digital data to ensure the privacy of CAS Ecosystem Members.

•	The CAS Ecosystem SHALL require members explicit intention or consent for each use of digital data. 

•	The CAS Ecosystem Members SHALL enjoy all the data rights and protections provided under relevant legislation and policy. 

•	CAS Ecosystem Members SHALL fulfill all the data duties and obligations as required by the Governance Framework.


## Business Requirements - Terminology 

**Identity (Authentication)**

-	Will be made up of a Verified Credential (VC) for Personal Identity. 
-	VC Storage Location will take place on a digital Business Wallet with a secure connection. 
-	Verifiable Credential Proof will be requested by the Line of Business system and the proof will be provided by the Personal Digital wallet. 
-	The Verifiable credential will be issued from the Company Digital Wallet

**Delegation**
-	Refers to a Verifiable Credential for permission to delegate a specific role. 
-	The VC Storage Location will be held on the digital wallet, with the VC proof being requested by the Company’s Digital wallet. 
-	VC Proof is provided by the personal digital wallet and the VC will be issued by the Company Digital wallet. 

**Authorization**
-	Allows a verifiable credential to a person giving them a role (such as the issuer of a permit credential). 
-	VC will be stored on the Personal Digital Wallet, with VC Proof Requested by Line of Business Systems. 
-	VC Proof will be provided by the digital wallet with the VC issued from a company digital wallet. 

## Business Requirement - CAS and _____________


CAS will have a connection with ________ to facilitate interaction from a business requirement side. There is currently a business agreement between _______________ and CAS. The Business wallet will facilitate a secure connection and is a “registered business”.  We want CAS to have a connection to __________ allowing interaction between both parties to support business requirements. 

Verifiable Credentials process will involve the following:

(a)	Mines Act Permit Issuance 

(b)	The ___________ profile which includes: 

(i)	Reported __________for a Facility. 

(ii)	Reported Scope 2 emissions for a facility. 

(iii)	Carbon Intensity for a product. 

(c)	Registration in the TSM Certification Program 

(d)	A proof request only

(e)	TSM protocol External Verification 

(f)	Confirmation of TSM Certification Completion


Both __________Emission credential and Carbon Intensity will be issued as two separate, distinct credentials by _____________. This is to mitigate data privacy concerns with reporting both measurements under one umbrella. 

Reported ___________data is included in a Layer 3 ToIP governance document outlining standards and business requirements related to CAS (Climate Action Secretariat) acting as an issuer for GHG Emissions Credentials Data. 

Reported _______ data is included in a Layer 3 ToIP governance document outlining standards and business requirements related to CAS acting as an issuer of Carbon Intensity Credentials Data. 

CAS will issue the Carbon Intensity Credential. This Credential will state the carbon intensity per unit of measure. The amount of carbon by weight emitted per unit of energy consumed (CO2 emissions/energy). A common measure of carbon intensity is the weight of CO2 per Btu of energy.

## Technical Requirements

1)	User/system of business wallet initiates presentation proposal with emissions data
2)	CAS wallet auto accepts the proposal
3)	CAS reads attributable data and loads into database
A mechanism will be developed to save the raw data and check the validity

GHG Emissions and Carbon Intensity Credentials

1.	All GHG Emissions Credentials MUST maintain an entity status of Active and a GHG registration status other than Lapsed, Retired, Duplicate, Annulled or Merged
2.	All issuers of credentials MUST verify that a Holder’s Automatic Identifier is controlled by the holder
3.	All _______ MUST have executed a GHG Emission issuer Qualification Agreement 
4.	All ________ MUST successfully complete a GHG Emission issuer Qualification 
5.	CAS MUST publish the GHG Ecosystem Governance Framework on _________and follow the policies in the revision section for all revisions of the CAS Ecosystem Governance Framework 
6.	GHG Emissions Credentials MUST be revocable following the policies specified in the CAS Ecosystem Governance Framework 
7.	MUST ensure that third parties comply with the CAS Governance Frameworks when providing ____________services to a __________. 
Carbon Intensity Reporting 
1.	All Carbon Intensity Credentials MUST maintain an entity status of Active and a Carbon Intensity registration status other than Lapsed, Retired, Duplicate, Annulled or Merged
2.	All issuers of credentials MUST verify that a Holder’s Automatic Identifier is controlled by the holder
3.	All _______ MUST have executed a Carbon Intensity issuer Qualification Agreement 
4.	All ________ MUST successfully complete a Carbon Intensity issuer Qualification 
5.	CAS MUST publish the Carbon Intensity Framework on _________and follow the policies in the revision section for all revisions of the CAS Ecosystem Governance Framework 
6.	Carbon Intensity Credentials MUST be revocable following the policies specified in the CAS Ecosystem Governance Framework 
7.	MUST ensure that third parties comply with the CAS Governance Frameworks when providing ____________services to a __________. 

## Changing the CAS Rules

The **CAS Ecosystem Rules** can change for the following reasons:
1.	Changes in laws or regulations
2.	Changes proposed by the existing community
3.	Changes proposed by potential new community members.

## Revisions

1.	Any **CAS Ecosystem Member** MUST be able to propose a change to, or translation of the **CAS Ecosystem Rules** by contacting the **administrative authority**  e.g. by emailing _____________
2.	Any participant in the CAS Ecosystem SHOULD be able to propose a change to the **CAS Rules** by contacting the **administering authority**  e.g. by emailing _____________
3.	The administering authority MUST implement a change process as specified in the Governance Requirements controlled document.
4.	The **CAS Ecosystem Rules** MUST be revised if_______________
5.	The **CAS Ecosystem Rules** will be reviewed ____________________
6.	Anything in the **CAS Rules** is found to be in breach of the law within the legal jurisdiction of ____________________.
7.	There are changes to the legal jurisdiction in which the **administering authority** or the **CAS platform operator** are registered.
8.	There are changes in applicable law, for example data protection law, within the legal jurisdiction of the **CAS Rules** which is________________.
9.	There are substantive changes to the functionality of the **CAS platform** for example if the **CAS community** employs new **artificial intelligence (AI) techniques.**
10.	____________ are able to become CAS on their own account.
11.	**Actions** or **transactions**, especially those associated with risk decisions or the control of **digital data**, which are currently carried out by human actors are replaced with automation and decision-making by **non-human actors**.  For example, machine-readable **governance**.
12.	The **CAS objectives** change (adding, changing and/or removing them).
13.	As a result of a risk assessment process, a new threat or high risk or significant harm is identified which arises from the implementation of the **CAS Rules** or which can be treated through a revision of the **CAS Rules**.
14.	A change proposed by a **CAS Ecosystem Member **successfully completes the change process as defined by the **administering authority**.
15.	Revisions of the **CAS Rules** SHOULD be compliant with the ToIP Metamodel and MAY be reviewed by **members** of the Trust over IP Foundation.

## Extensions

1)	CAS welcomes other Governance Frameworks to leverage the CAS Ecosystem Framework but does not anticipate the need at this time to specify formal extensions from other external Governance Frameworks that will leverage the CAS Ecosystem Governance Framework.
2)	The CAS Ecosystem Framework is extended by the following internal governance framework: CAS Identifier Governance Frameworks and GHG Emissions Credential Governance Frameworks. 
3)	Requirements for extension, activation and deactivation are ____________________ notification should be made to the trust community through _____________ methods.

## Inclusion, Equitability and Accessibility Requirement

CAS must design the CAS Ecosystem to be able to make credentials available to any legal entity issued a GHG Credential in the CAS Ecosystem.

## Schedule of Controlled Documents

DID URLS for all documents will be published with the Draft of the Ecosystem Governance Framework

This Draft can be viewed at ________________________

**Glossary**

Verifiable Scope 2 and 3 GHG CAS Ecosystem Governance Framework Glossary is a document that lists all defined terms have been referenced in the CAS Documents.
Verifiable Scope 2 and 3 Carbon Intensity Ecosystem Governance Framework Glossary is a document that lists all defined terms that have been reference in the CAS Documents.

**Risk Assessment**

Verifiable GHG Emissions Credentials Risk Assessment is a ______________ that assesses certain risk categories regarding the operation of the CAS Ecosystem and Infrastructure.
Verifiable Carbon Intensity Credentials Risk Assessment is a ______________ that assesses certain risk categories regarding the operation of the CAS Ecosystem and Infrastructure.

**Trust Assurance and Certification**

Verifiable GHG Emissions Credentials Governance Framework Trust Assurance is a spreadsheet that focuses on MUST statements within other GHG Emissions Governance documents and specifies the services/processes that will be used to evaluate compliance with these statements
Verifiable Carbon Intensity Credentials Governance Framework Trust Assurance is a spreadsheet that focuses on MUST statements within other GHG Emissions Governance documents and specifies the services/processes that will be used to evaluate compliance with these statements

## Governance Requirements

**GHG Ecosystem**

1. The governance of the CAS GHG Ecosystem can be found 
at __________________________
2. The Memorandum of Understanding between the CAS and______________
can be found at ________________
3. The Charter of the _______________can be downloaded as a ____________
4. The Statutes of CAS can be downloaded as a pdf, ______________
5. The By-laws of ____________ can be downloaded as a pdf,____________
6. CAS has a Board of independent directors, 
7. The CAS standard, ISO 17442-1:2020 Financial services – Legal entity identifier (LEI) –
Part 1: Assignment can be found here: ___________________

**Carbon Intensity Ecosystem**

1. The governance of the CAS Carbon Intensity can be found 
at __________________________
2. The Memorandum of Understanding between the CAS and______________
can be found at ________________
3. The Charter of the _______________can be downloaded as a ____________
4. The Statutes of CAS can be downloaded as a pdf, ______________
5. The By-laws of ____________ can be downloaded as a pdf,____________
6. CAS has a Board of independent directors, 
7. The CAS standard, ISO 17442-1:2020 Financial services – Legal entity identifier (LEI) –
Part 1: Assignment can be found here: ___________________
 

