## Introduction
_____________________will be involved in the development of Verifiable Credentials that will be administered through the Trust Over IP (ToIP) system. This credential will articulate the Verification Statement required for reporting GHG Emissions. The GHG Emissions credential is based on reported operations. The structure for the credential will contain all information needed to fulfil this statement. This information would include information such as annual reporting deadlines that exist to guide emitters on when reports should be submitted. The requirements and legislative authority for information included within the report is outlined in Section 33 of the Greenhouse Gas Industrial Reporting and Control Act, Greenhouse Gas Emission Reporting Regulation.  

Current guidelines for reporting are described here: https://www2.gov.bc.ca/gov/content/environment/climate-change/industry/reporting/verify

GHG emissions accounting utilize the GHG Protocol as the primary standard. Greenhouse Gas Protocol provides the world's most widely used greenhouse gas accounting standards for companies. _____________ will work in partnership with the Trust Over IP Foundation (TOIP) Ecosystem to issue this governance framework.

This governance document has been developed in accordance with the ToIP’s Governance Metamodel Specification created by the Governance Stack Working Group (GSWG) as the template for this framework.

## Terminology and Notation

[Glossary - General Trust Over IP Terms](https://trustoverip.github.io/toip/glossary)

## Localization

1.	The standard language for this governing framework is American English.
2.	The governance framework website SHALL include introductory remakes in all the languages of the g20 countries.
 
## Governing Authority

_________BC is the governing authority and party legally responsible for developing, maintaining and implementing the Governance Framework.
The contact for petitioners and relying parties of this GF is
* 	Name ___________
* 	Title ____________
* 	Organization ___________
* 	Email ____________

## Purpose

Scope 1 Greenhouse Gas Emissions from various sources have been unreliably accounted for using various sources. Verifiable Credential standards will be developed as an alternative option for reporting GHG Emissions. 

Verifiable Credentials will be built in accordance with the provisions outlined in Section 33 of the BC GHG Regulation, which outlines the required content of an acceptable Verification Statement. 

These systems and governance will allow a more trustworthy ecosystem. This will be built under this governance framework. The purpose of this governance framework to outline all rules associated with governance, issuance, verification, and revocation of these GHG credentials. The governance document is applicable to all parties who consume Emissions Report data. 

## Scope

The GF covers the following components:

## Key Roles

Issuers: An entity that can accurately report on GHG emissions

Verifiers: An entity that can accurately attest to reported GHG emissions

Legal Entity: A legal person or structure that is organized under the laws of any jurisdiction that meets the eligibility criteria for registering for a VC.

The scope of the Ecosystem Governance Framework is to enable stakeholder to issue, hold and verify Emissions Report Credentials using the ToIP framework to ensure that these activities take place in compliance with Ecosystem Governance Frameworks.

## Key Processes

The following processes will participate in this GF as Governed Roles

•	Credential Issuance: Will be made by ___________ upon receiving data from that satisfies the requirements under relevant regulations, 

•	Verification: The process by which __________ will verify the originator of GHG credentials

•	GHG Receipt: Process whereby GHG emissions credentials of subject _________ will be collected by the repository
Key Trust Decisions

The trust decisions made under this GF is the qualification and determination of GHG Emissions Credentials and the determination of Credential Issuance to ___________________ 

## Out of Scope

* Any other credential other than a GHG emissions report

* __________ operating in other provinces

* Evaluation of other ESG priorities

* Information and provisions in other BC Acts and Regulations

* Any information not associated or included within a Verification Statement as defined in regulation

## Objectives

The objective of this Governance Framework are to define the rules, requirements, processes and artifacts of a Verification Statement to be applied to _____________ so that _____________ can ensure compliance with ESG frameworks. The objective of this governance framework is to create a verification statement verifiable credential.
 
## Principles

The Principles Underlying this GF follow agreed-upon principles for the _________________
1. Sustainability
1. Stewardship
1. Public good
1. Transparency
1. Citizen Engagement
1. Digital Sovereignty
1. Security
1. Confidence
1. Synchronization

## General Requirements

The General Requirements section is reserved for policies that apply generally to the Governance Framework as a whole and not just in the context of a particular controlled document.

* All articles concerning GHG emissions must remain private and not sold to third parties. All governing parties shall implement responsible use policies that apply to GHG emission recording.

* Entities must identify themselves using high assurance verifiable credentials.

* All revised and outdated Credentials must be expunged each year from the credential repository by January 1st

* All governed parties shall abide by a Code of Conduct

## Revisions

A key design principle of the ToIP stack model is to “design for change”. In most cases, GFs are “living documents” that need to evolve as their trust community evolves. There, the ToIP governance Architecture Specification has strict requirements for document versioning.
* Revisions to the GF must be approved by _________________
* At least one public review period should be held for all versions of the GF
* Comment period during the review process must be held during ___________
* Late comments shall not be accepted but may be considered in the following year’s version

## Schedule of Controlled Documents

The following documents are included as appendices:
1.	Glossary
2.	Risk Assessment
3.	Trust Assurance and Certification
4.	Governance Requirements
5.	Business Requirements
6.	Information Trust Requirements
7.	Inclusion, Equity and Accessibility Requirements
8.	Legal Agreements

## Controlled Documents

## Glossary

In the field of Digital Identity, trust and governance, a well-defined glossary is essential. Glossaries ensure that all stakeholders – businesses, legal, technical and operational – share a collective understanding of the terms used within a GF.
A GF includes a glossary that includes terms in the following three general categories
1. TOIP Core Terms that describe the common components of the TOIP model
1. TOIP Governance Terms are specialized terms used to describe TOIP governance concepts
1. GF Specific Terms are terms needed in the context of this GF. This is included in the __________ Credential Terms Page.

## Risk Assessment
_________________ and ______________ will develop strategies to mitigate risk. There are risks associated with establishing and maintaining a healthy trust community: technical risks, business risks, governance risks, regulatory risks, etc.
Trust Assurance and Certification
While a detailed risk assessment is warranted for this GF, for the first draft of the GF, _____________ has identified the following audit criteria to be assessed by an auditor
* Availability Controls for ____________
* Policies and controls for _______________
* Review of background checks for_______________ 

## Governance Requirements

Trust in a GF requires a Governing Authority. This trust is rooted in the foundational governance documents for the governing authority itself. This includes

1. Verifiable credentials based on sound data. 

1. Provisions in relevant BC Regulations

## Business Requirements

Many business requirements will flow directly from the objectives. Policies in this section will outline business rules common to any business or industry organization. Business rules will apply in the specific context of the GF in order to govern specific actions taken by specific actors performing specific roles and processes within the ____________ and _________ Trust Community.

The Business rules for Scope 1 GHC Emissions Credential Report Issuance are:
1. ________________________________________
1. ________________________________________
1. ________________________________________

## Technical Requirements

The structure of the ToIP stack graphically illustrates that governance is only half of what is required for inter-operability within and between trust communities. The other half is technical interoperability. This is the responsibility of the ToIP technology. The Technical policies for _____________ GF are the following:
1.	The DID for _________ must be ________-
2.	The DID for __________ must be __________
3.	The Verifiable Credential format for _______ and ___________ must be
4.	All Verifiable Presentations of _________- and _____________ must use privacy preserving standards
5.	The User interface for obtaining, processing and presenting __________ and _________ credentials
6.	Must be translate into all human languages
7.	Must go through proof testing
8.	Should ______________
9.	Must ________________

## Information Trust Requirements

The members of the trust community need to mitigate against a common set of threats that could impact members. ___________ will adopt the following information trust policies, across the five Trust Services Criteria:
1.	Information security shall____________
2.	Information availability shall ______________
3.	Information process integrity shall _____________
4.	Information confidentiality shall __________________
5.	Information privacy shall _________________

## Inclusion, Equity and Accessibility Requirements

This final category of requirements is especially important for digital trust communities – important enough that this category of controlled document is REQUIRED in a ToIP – compliant GF. Scope 1 GHG Emissions Credentials GF policies in this category are
1.	________________________________________
2.	________________________________________
3.	________________________________________

## Legal Agreements

Legal agreements will be drafted in accordance with _______________ policies and procedures. These agreements will outline contractual commitments between the governing authority and the governed parties playing various roles. ________________ requires the following legal agreements
1.	________________________________________
2.	________________________________________
3.	________________________________________
