# BC GHG Emissions Report Verification Statement Credential - DRAFT

# 1. Primary Document

## 1.1. Introduction
This document articulates the governance framework for the BC Greenhouse Gas (GHG) Emissions Report Verification Statement credential. GHG Emissions reporting is required in British Columbia (BC) as per the Greenhouse Gas Industrial Reporting and Control Act, **[GREENHOUSE GAS EMISSION REPORTING REGULATION](https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/249_2015)**. 

BC Regulation [249/2015: GREENHOUSE GAS EMISSION REPORTING REGULATION](https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/249_2015) sets out reporting requirements that are developed in accordance with various standard setting bodies. Section 33 specifically references the [International Accreditation Forum ((IAF)](https://iaf.nu/en/home/). Other sections within the regulation also refer to provisions being drafted in accordance with the [International Organization for Standardization (ISO)](https://www.iso.org/home.html), [Western Climate Initiative (WCI)](http://westernclimateinitiative.org/) the [Canadian Standards Association (CSA)](https://www.csagroup.org/) and the [National Institute of Standards and Technology (NIST)](https://www.nist.gov/). 

Current guidelines for reporting are described here: https://www2.gov.bc.ca/gov/content/environment/climate-change/industry/reporting/verify

The development of this documentation follows the governance framework created by the [Trust over IP Foundation (ToIP)](https://trustoverip.org/) [Governance Metamodel Specification](https://trustoverip.org/wp-content/uploads/ToIP-Governance-Metamodel-Specification-V1.0-2022-12-21.pdf) created by the [Governance Stack Working Group (GSWG)](https://wiki.trustoverip.org/display/HOME/Governance+Stack+Working+Group).

These materials are made available under and are subject to the [Creative Commons Attribution 4.0 International license](http://creativecommons.org/licenses/by/4.0/legalcode).

THESE MATERIALS ARE PROVIDED “AS IS.” The Trust Over IP Foundation, established as the Joint Development Foundation Projects, LLC, Trust Over IP Foundation Series ("ToIP"), and its members and contributors (each of ToIP, its members and contributors, a "ToIP Party") expressly disclaim any warranties (express, implied, or otherwise), including implied warranties of merchantability, non-infringement, fitness for a particular purpose, or title, related to the materials. The entire risk as to implementing or otherwise using the materials is assumed by the implementer and user. 

IN NO EVENT WILL ANY ToIP PARTY BE LIABLE TO ANY OTHER PARTY FOR LOST PROFITS OR ANY FORM OF INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY CHARACTER FROM ANY CAUSES OF ACTION OF ANY KIND WITH RESPECT TO THESE MATERIALS, ANY DELIVERABLE OR THE ToIP GOVERNING AGREEMENT, WHETHER BASED ON BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, AND WHETHER OR NOT THE OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

***Acknowledgements***

This governance framework includes structural elements from the Trust over IP Metamodel that were developed by Governance Stack Working Group of the Trust over IP Foundation, the eSSIF Lab Glossary and Mental Models, were contributed to the Trust Over IP Foundation under the CC BY-SA 4.0 license.  There have also been contributions from the Concepts & Terminology Working Group at ToIP, the Human Experience Working Group at ToIP and the Ecosystem Foundry Working Group at ToIP, the work of the Governance Framework Working Group at Sovrin Foundation is also acknowledged in providing support.

## 1.2. Terminology and Notation

[Glossary - General Trust Over IP Terms](https://trustoverip.github.io/toip/glossary)

**Requirements** include any combination of Machine-Testable Requirements and Human-Auditable Requirements. Unless otherwise stated, all Requirements MUST be expressed as defined in [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119).

- Mandates are Requirements that use a MUST, MUST NOT, SHALL, SHALL NOT or REQUIRED keyword.
- Recommendations are Requirements that use a SHOULD, SHOULD NOT, or RECOMMENDED keyword.
- Options are Requirements that use a MAY or OPTIONAL keyword.

**Machine-Testable Requirements** are those with which compliance can be verified using an automated test suite and appropriate scripting or testing software.

**Rules** are Machine-Testable Requirements that are written in a Machine-Readable language and can be processed by a Rules Engine. They are expressed in a structured rules language as specified by the Governance Framework.

**Human-Auditable Requirements** are those with which compliance can only be verified by an audit of people, processes, and procedures.

**Policies** are Human-Auditable Requirements written using standard conformance terminology. The Policies used in the Governance Framework will use the standard terminology detailed in RFC 2119 keywords. Note that all RFC 2119 keywords have weight from an auditing perspective. An implementer MUST explain why a SHOULD or RECOMMENDED requirement was not implemented and SHOULD explain why a MAY requirement was implemented.

**Specifications** are documents containing any combination of Machine-Testable Requirements and Human-Auditable Requirements needed to produce technical interoperability.

## 1.3. Localization

The standard language for this governing framework is American English.
 
## 1.4. Governing Authority

[BC Climate Action Secretariat (CAS)](https://www2.gov.bc.ca/gov/content/environment/climate-change) is the Governing Authority and party legally responsible for developing, maintaining and implementing the Governance Framework (GF).
The contact for petitioners and relying parties of this GF during the pilot phase of the project is:
* 	**Name:** Kyle Robinson
* 	**Title:** Senior Strategic Advisor, Digital Trust Ecosystems
* 	**Organization:** Briartech Consulting Inc.
* 	**Email:** [kyle.robinson@briartech.ca](mailto:kyle.robinson@briartech.ca)

## 1.5. Administering Authority
[Energy, Mines and Digital Trust (EMDT)](https://digital.gov.bc.ca/case-studies/emdt) is the Administering Authority on behalf of the Tenure and Resource Stewardship Branch during the pilot phase of development.

## 1.6. Purpose

This BC Greenhouse Gas (GHG) Emissions Report Verification Statement credential under the governing authority of CAS reports emissions information as required by the Greenhouse Gas Industrial Reporting and Control Act, [GREENHOUSE GAS EMISSION REPORTING REGULATION](https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/249_2015). The purpose of this governance framework is to outline the process associated with governance, issuance, verification, and revocation of a GHG Emissions Report Verification Statement credential. 

## 1.7. Scope

The governance framework only covers the BC GHG Emissions Verification Statement Credential.

## 1.8. Objectives
TBD

_This section states the high-level outcomes desired by the trust community through its adoption of the GF._

1. SHOULD specify tangible, achievable results (e.g. SMART criteria and Fit-for-Purpose criteria).
2. MUST only contain outcomes over which the GF has the authority and mechanisms to achieve within its
scope.
3. MUST be consistent with the principles of the GF (below).

## 1.9. Principles

BC Climate Action Secretariat has identified the following guiding principles in their [Climate Preparedness and Adaptation Strategy 2022-2025](https://www2.gov.bc.ca/assets/gov/environment/climate-change/adaptation/cpas.pdf):

1) Build a Shared Path to Climate Resilience with Indigenous Peoples
2) Take an Equity Informed Approach
3) Enhance Health and Well Being for All 
4) Promote Nature Based Solutions to Enhance Community Resilience
5) Align Emissions Reduction with Climate Adaption 
6) Take a Proactive Approach with a Business Case for Adaptation

## 1.10. General Requirements

When large emitters of CO2 report annual emissions to the [BC Climate Action Secretariat (CAS)](https://www2.gov.bc.ca/gov/content/environment/climate-change), an Emissions Report Verification Statement must be provided as part of the reporting requirements.

## 1.11. Revisions
Version 1.0

## 1.12. Extensions
There are no extensions to this Governance Framework.

## 1.13. Schedule of Controlled Documents
N/A

# 2. Controlled Documents

## 2.1. Glossary
TBD

## 2.2. Risk Assessment
TBD

## 2.3. Trust Assurance and Certification
TBD

## 2.4. Governance Requirements
TBD

## 2.5. Business Requirements
The primary use of the BC GHG Emissions Verification Statement Credential is to verify GHG emissions reporting to CAS. 

## 2.6. Technical Requirements

### 2.6.1 Schema Definition

This schema definition follows the AnonCreds specification (https://anoncreds-wg.github.io/anoncreds-spec/)

Attribute | Format | Rules | Notes
--- | --- | --- | ---
verification_body_name | String | Not NULL | Regulation s.33(2)(a)	[Verification Body name.  Include full legal company name. Trade name may be referenced in parentheses if applicable. ISO 14065 and ISO 17011]
verification_body_address | String | Not NULL | Regulation s.33(2)(a) 	[Business Address]
accreditation | String | Not NULL | Regulation s.33(2)(h) 	[Name of member of the International Accreditation Forum (IAF) and associated identification number. ISO14065:2013 ISO14064-3:2019]
accreditation_status | String | Not NULL | Regulation s.33(2)(h) 	[Affirm accreditation status with the IAF is in good standing. ISO14065:2013 ISO14064-3:2019]
lead_verifier_name | String | Not NULL | Regulation s.33(2)(b) 	[Lead Verifier’s name ISO14064-1:2018 ISO14064-3:2019]
lead_verifier_email | String | Not NULL | Regulation s.33(2)(b) 	[Lead Verifier’s business email ISO14064-1:2018 ISO14064-3:2019]
lead_verifier_phone | String | Not NULL | Regulation s.33(2)(b) 	[Lead Verifier’s telephone ISO14065:2013 ISO14064-3:2019]
independent_peer_reviewer_name | String | Not NULL | Regulation s.33(2)(l) 	[Peer Reviewer’s name ISO14064-3:2019]
independent_peer_reviewer_email | String | Not NULL | Regulation s.33(2)(l) 	[Peer Reviewer’s business email ISO14064-3:2019]
independent_peer_reviewer_phone | String | Not NULL | Regulation s.33(2)(l) 	[Peer Reviewer’s telephone ISO14064-3:2019]
reporting_operation | String | Not NULL | Regulation s.33(2)(d)	[Legal name of the Reporting Operation ISO14064-1:2018 ISO14064-3:2019]
name_of_facility | String | Not NULL | Regulation s.33(2)(d)	[For Single Facility Operations the name of the Facility.  Include N/A if not applicable. ISO14064-1:2018 ISO14064-3:2019]
facility_type | String | Not NULL | [Single Facility Operation, Linear Facilities Operation, or Electricity Import Operation. ISO14064-1:2018 ISO14064-3:2019] 
facility_address | String | Not NULL | Regulation s.33(2)(d)	[For Single Facility Operations, the geographic coordinates and street address of the Facility.  Include N/A if not applicable.ISO14064-1:2018 ISO14064-3:2019]
facility_longitude | String | Not NULL | Regulation s.33(2)(d)	[For Single Facility Operations, the geographic coordinates and street address of the Facility.  Include N/A if not applicable.ISO14064-1:2018 ISO14064-3:2019]
facility_latitude | String | Not NULL | Regulation s.33(2)(d)	[For Single Facility Operations, the geographic coordinates and street address of the Facility.  Include N/A if not applicable. ISO14064-1:2018 ISO14064-3:2019]
total_emissions | String | Not NULL | Total Emissions Attributable to the Reporting Operation during the Reporting Period. 	[#] tonnes CO2e ISO14064-2:2019
total_emissions_not_reporting_only | String | Not NULL | Total Emissions that are not Reporting-Only Emissions Attributable to the Reporting Operation during the Reporting Period.	[#] tonnes CO2e. ISO14064-2:2019
total_emissions_reporting_only | String | Not NULL | Total Reporting-Only Emissions Attributable to the Reporting Operation during the Reporting Period.	[#] tonnes CO2e. ISO14064-2:2019
total_co2_from_nonbiomass| String | Not NULL | Total amount of carbon dioxide from non-Biomass that is Attributable to the Reporting Operation during the Reporting Period.	[#] tonnes CO2. ISO14064-2:2019
total_co2_from_nonbiomass_not_schedule_c | String | Not NULL | Total amount of carbon dioxide from Biomass not listed in Schedule C of the Regulation that is Attributable to the Reporting Operation during the Reporting Period:	[#] tonnes CO2. ISO14064-2:2019
total_co2_from_nonbiomass_in_schedule_c| String | Not NULL | Total amount of carbon dioxide from Biomass listed in Schedule C of the Regulation Attributable to the Reporting Operation during the Reporting Period:	[#] tonnes CO2. ISO14064-2:2019

<!---
BCGHG ID | String | Not NULL | Regulation s.33(2)(d)	[Number provided by the Director established under the Act. For inquiries contact GHGRegulator@gov.bc.ca]
Operator | String | Not NULL | Regulation s.33(2)(d)	[Legal name of Operator and head office mailing address.  If an Operator is an extraprovincial company with a head office outside British Columbia, provide the mailing address for the attorney.]
Operation Representative | String | Not NULL | Regulation s.33(2)(d)	[Name, Title, Business email and telephone for the Operation Representative.]
Person Primarily Responsible for Preparing and Submitting the Emission Report | String | Not NULL | Regulation s.33(2)(d)	[Name, Title, Business email, telephone and mailing address of the person primarily responsible for preparing and submitting the Emission Report.]
--->

### 2.6.2. Credential Implementation
Ledger | SCHEMA DEF | CRED DEF | Notes	
--- | --- | --- | ---
BCovrin Test | ADCssx1nPW6FQwNHTFTRNW:2:BC_GHG_Emissions_Report_Verification_Statement:1.0 | --- | ---

## 2.7. Information Trust Requirements
BC is bound by the [Freedom of Information and Protection of Privacy Act](https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/96165_00). BC’s Freedom of Information and Protection of Privacy Act sets out the access and privacy rights of individuals as they relate to the public sector.

## 2.8. Inclusion, Equitability, and Accessibility Requirements

BC is bound by legislation such as the [Accessible British Columbia Act](https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/21019) 

BC has developed a [Diversity & Inclusion Strategy for the BC Public Service](https://www2.gov.bc.ca/gov/content/careers-myhr/about-the-bc-public-service/diversity-inclusion/diversity-inclusion-strategy) which outlines a government wide strategy in supporting inclusion, equitability and access throughout the province. 

## 2.9. Legal Agreements
TBD

# End of Document


